body {
    background-color: #353535;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

* {
  box-sizing: border-box;
}

h2 {
    font-size: 30px;
  }
  

  
h2, h3 {

    display: inline;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.menuButton {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #7a7a7a;
  height: 40px;
  left: 0;
  padding: 10px;
}

.top-bar {
  display: none;
  height: 40px;
  position: sticky;
  left: 0;
  padding: 0;
  top: 10px;
  width: 100%;
  background-color: #353535; 
  box-shadow: 0 0px 1px #FFFFFF; 
  z-index: 1000; 
}

#menu-toggle {
  display: none; 
  position: sticky;
  float: left;
  top: 10px;
  left: 10px;
  z-index: 1000; 
}

.main-changes {
  margin-left: 168px;
}

.menu {
  position: sticky;
  top: 5%;  
  width: 168px;
  float: left;
  background-color: #353535;
  z-index: 999;
}
.main {
  margin-left: 168px;
  margin-right: 168px;
  max-width: 90%;
  width: auto;
}



@media (max-width: 768px){
  #menu-toggle {
    display: block;
  }

  .top-bar{
    display: block;
  }

  .menu {
      display: none;
      width: 168px;
      height: 100%;
      float: left;
      margin-left: 0;
      margin-top: 50px;
      box-shadow: 0 0px 1px #FFFFFF; 
    }

    .main {
      margin-right: 0;
      margin-left: 0;
      max-width: 100%;
    }

    .menu.visible {
      display: block; 
      position: fixed;
      top: 0;
      left: 0;
  }
}




#quiz {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid chartreuse;
    border-radius: 5px;
    border-color: chartreuse;
}


#question {
    margin-bottom: 20px;
  }
  
  #options {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    color: #131313;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #8f8d8d;
    border-radius: 0;
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=submit] {
    background-color: rgba(128, 255, 0, 0);
    color: whitesmoke;
    border: 1px solid chartreuse;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-color: rgba(128, 255, 0, 0.301);
  }

  .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
